.button {
    cursor:pointer;
    border-radius: 10px;
    color: #26255c;
    border: 2px solid #26255c !important;
    background: white;
}

.closeButton {
    cursor: pointer;
    font-size: 18px;
    border-top-right-radius: 4px;
    padding: 0px 12px;
}
