.main-header {
    background-color: rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
    background-size: cover;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 0.5em;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    background: rgba(255, 255, 255, 0.3);
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    margin-bottom: 0px;
}

h1 {
    text-align:center;
    margin-top: 0px;
    padding-top:20px;
    margin-bottom: 0px;
    color:white;
}
