body {
    margin: 0px;
    background: url("Images/TourList/background.png");
    background-size: cover;
}

#tourListTable {
    margin: auto;
    background: black;
}

th {
    color:white;
    text-align: center;
}

td {
    color: white;
    text-align: center;
}

#tourListTable, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

a{
    color: white;
}

.hidden {
    display: none;
}

#customerDetailsDiv td {
    border: none;
    border-collapse: collapse;
}

#toursDiv td {
    border: none;
    border-collapse: collapse;
}

#txtPayment {
    width: 170px;
}

#txtTourDate {
    width: 165px;
}

#closeToursDiv {
    margin-left: 54px;
}

#closeCustomerDetailsDiv {
    margin-left: 26px;
}

#tourListGroup {
    width: min-content;
    margin: auto;
}

#addToursWindow td{
    border:none
}

#btnAddTour {
    border-radius: 0px;
}

#closeAddToursWindow {
    margin-left: 54px;
}

#searchBar {
    margin-left: -5px;
}